.Book {
    background-color: white;
    // border: 2px solid black;
    border-radius: 5px;
    // margin: 10px;
    // padding: 20px;
    height: 350px;
    overflow: scroll;
    max-width: 400px;
    
    &__title {
        text-decoration: none;
        color: navy;
        font-size: 1.3rem;
        font-weight: bold;
        display: block;
        margin: 10px 0px 20px;
        &:hover {
            color: rgb(0, 0, 187);
        }
    }
    &__img {
        height: 200px;
    }
}

